.container {
  display: block;
  margin: 15px auto;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 10px;
  width: 1300px;
}

.form-group {
  margin-left: 60%;
}
#search-city-input {
  width: 200px;
  height: 40px;
}

.searchButton,
.location {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  margin-right: 0px;
  border: 2px solid rgb(14, 109, 109);
  box-shadow: 2px 2px 5px rgb(177, 177, 177);
}

#current-city {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}
#current-date,
#currentWeather {
  text-align: center;
  font-family: monospace;
}
.currentInfo {
  margin: 20px 20px 20px 20px;
}

.extraInfo {
  text-align: center;
  margin: 20px;
}

.vl {
  display: inline-block;
  border-left: 1px solid #dddddd;
  height: 70px;
  margin: 0px;
}

div .col-2 {
  display: inline-block;
  margin: 0px 27px;
  padding: 5px;
}

section .col-12,
.emoji {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding: 0px;

  width: 100%;
}
.card-body {
  padding: 0px;
}
.extraInfo {
  font-size: 14px;
}
.col-6 main {
  text-align: left;
}

.day {
  color: rgb(14, 109, 109);
}
.temp {
  color: #747474;
}

#forcast {
  text-align: right;
  display: inline;
  font-size: 55px;
  padding: 0px;
}

#converter {
  margin-left: 10px;
}
.cTemp,
.fTemp {
  border-radius: 8px;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 2px solid, white;
  color: white;
}

.week {
  display: block;
  margin: 15px auto;
  border: 1px solid rgb(207, 207, 207);
  padding: 15px 70px;
  border-radius: 10px;
  width: 100%;
}
