.container {
  display: block;
  margin: 15px auto;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 10px;
}
.location {
  border-radius: 30px;
  padding: 5px 5px 5px 5px;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 2px solid teal;
  box-shadow: 2px 2px 2px #dddddd;
}
.fa-search-location {
  font-size: 24px;
  text-align: center;
}

#search-city-input {
  width: 60%;
}

div .col-2 {
  display: inline-block;
  margin: 0px 10px;
}

section .col-12,
.emoji {
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  padding: 0px;

  width: 100%;
}
.card-body {
  padding: 0px;
}
.extraInfo {
  font-size: 14px;
}
.col-6 main {
  text-align: left;
}

.day {
  color: #3e3e3e;
}
.temp {
  color: #747474;
}
.dayEmoji,
.dayTemp {
  font-size: 60px;
  display: inline;
  padding-left: 0px;
}

.week {
  display: block;
  margin: 15px auto;
  border: 1px solid rgb(207, 207, 207);
  padding: 0px;
  border-radius: 10px;
  width: 100%;
}
